:root
{
	--dark-bg: #2C2828;
	--light-bg: #3B2C85;
	--accent: #219897;
	--text: #85CFCB;
	--link: #bff;
	--link-hover: #3ff;
}

@font-face { font-family: title; src: url('assets/1200ORG.TTF'); }
@font-face { font-family: body; src: url('assets/tahoma.ttf'); }

body
{
	background-color: #000;
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: 8px; gap: 8px;
	display: flex;
	flex-direction: row;
	font-family: body;
	font-size: 9pt;
}

h1
{
	font-family: title;
	font-size: 24pt;
	margin-top: 0;
	margin-bottom: 16px;
}
h2
{
	font-family: body;
	font-size: 16px;
	margin-top: 16px;
}

a:link, a:visited
{
	color: var(--link);
	text-shadow: 0 0 2px var(--link);
}
a:hover, a:active
{
	color: var(--link-hover);
}

#app
{
	background: linear-gradient(180deg, var(--dark-bg) 75%, var(--light-bg));
	border: 2px solid var(--light-bg);
	border-radius: 0 0 20px 0;
	width: 25vw;
	padding: 8px;
	overflow: auto;
	color: var(--text);
}
div.uitab
{
	background-color: var(--light-bg);
	border: none;
	border-radius: 0 0 10px 0;
	margin-top: 4px;
	padding: 4px;
}

button
{
	background-color: var(--accent);
	color: var(--link);
	border: 0;
	border-radius: 3px 0 3px 0;
}

#linkpreview
{
	flex-grow: 1;
	border: none;
}

#feedlisteditor
{
	width: 90%;
	white-space: nowrap;
	overflow: auto;
	resize: none;
}

#status
{
	line-height: 1.6;
}
#status > span
{
	font-size: 8pt;
	color: #000;
	padding: 1px;
	border: 1px solid #666;
	border-radius: 3px;
}

span.loading { animation: span_loading 300ms linear infinite alternate; }
span.loading::before { content: "LOAD"; }

span.failed { background-color: #f50; }
span.failed::before { content: "FAIL"; }

span.complete { background-color: #0f0; }
span.complete::before { content: "OK"; }

@keyframes span_loading
{
	from { background-color: #0af; }
	to { background-color: #0ff; }
}