a:link, a:visited { color: white; text-decoration: none; }
a:hover, a:active { color: white; text-decoration: underline; }

@font-face { font-family: title_font; src: url('assets/VCR.ttf'); }
@font-face { font-family: body_font; src: url('assets/Lanereg.ttf'); }
h1 { font-family: title_font; color: white; line-height: 0.4; font-size: 36pt; text-align: center; transition: letter-spacing 1s; }
h2 { font-family: title_font; color: white; line-height: 0; font-size: 24pt; text-align: center; transition: letter-spacing 1s; }
h3 { font-family: title_font; color: white; line-height: 0; font-size: 20pt; text-align: center; }
p { font-family: body_font; color: white; line-height: 1.1; font-size: 16pt; text-align: center; transition: letter-spacing 1s; }

table { border: 0; }

hr { border: 1px solid #ffffff; width: 95%; }

@keyframes div_in
{
	0% { left: 50%; right: 50%; top: 45%; bottom: 45%; }
	50% { left: 4vh; right: 4vh; top: 45%; bottom: 45%; }
	100% { left: 4vh; right: 4vh; top: 4vh; bottom: 4vh; }
}
@keyframes text_in
{
	from { opacity: 0; letter-spacing: 50px; }
	to { opactiy: 1; letter-spacing: initial; }
}
@keyframes fade_in
{
	from { opacity: 0; }
	to { opacity: 1; }
}
body { overflow: hidden; background: linear-gradient(#000022,#0000AA); }
h1.title
{
	position: absolute; left: 0; right: 0; bottom: 0;
}
h1.exit
{
	position: absolute; text-align: right !important; right: 1%; bottom: 0;
}
div.container
{
	position: absolute; left: 4vh; right: 4vh;
	box-shadow: 1vh 1vh #444444;
	animation-name: div_in;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	
}
div.outline
{
	opacity: 0;
	animation-name: fade_in;
	animation-delay: 1s;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	border-style: solid; border-color: #FFFFFF; border-width: 1px;
}
div.outlineheader
{
	position: absolute; left: 1vh; right: 1vh; top: 1vh;
	height: 10vh;
}
div.outlinebody
{
	position: absolute; left: 1vh; right: 1vh; top: 12vh; bottom: 1vh;
}