a:link, a:visited { color: white; text-decoration: none; }
a:hover, a:active { color: white; text-decoration: none; }

@font-face { font-family: title_font; src: url('assets/header.ttf'); }
@font-face { font-family: body_font; src: url('assets/body.ttf'); }

body
{
	overflow: hidden;
}

h1
{
	font-family: title_font;
	font-weight: normal;
	color: #FFF;
	line-height: 0.9;
	font-size: 48pt;
	text-align: center;
	padding: 0;
	margin-top: 6vh;
	margin-bottom: 6vh;
	margin-left: 0;
	margin-right: 0;
}
h2
{
	font-family: body_font;
	font-weight: bold;
	color: #FFF;
	line-height: 0;
	font-size: 17pt;
	text-align: center;
	padding: 0;
	margin-top: 0;
	margin-bottom: 5vh;
	margin-left: 0;
	margin-right: 0;
	opacity: 0.7;
	text-shadow: 0;
	transition: text-shadow 0.5s;
	
}
h2:hover
{
	text-shadow: 0 0 10px #FFF;
	animation-name: sawfade;
    animation-iteration-count: infinite;
    animation-duration: 0.4s;
}


div.bkgimg
{
	background-image: url(assets/homebkg.gif);
	z-index: -1;
	position: fixed;
	left: 0; right: 0; top: 0; bottom: 0;
	background-size: 8cm;
	background-repeat: repeat;
}
div.page
{
	position: fixed; left: 0; right: 0; top: 0; bottom: 0;
	box-sizing: border-box;
	padding-top: 5vw;
	padding-bottom: 5vw;
	padding-left: 10vw;
	padding-right: 10vw;
	
	margin: 0;
	
	display: flex;
	flex-wrap: no-wrap;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
div.header
{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

@keyframes rotateanim
{
	from { transform: perspective(55vh) rotateY(0deg); animation-timing-function: ease-in-out; }
	to { transform: perspective(55vh) rotateY(360deg);  }
}

@keyframes sawfade
{
	from { opacity: 1; animation-timing-function: linear; }
	to { opacity: 0.15; }
}

img.frostlogo
{
	width: 30vh;
	animation-name: rotateanim;
    animation-iteration-count: infinite;
    animation-duration: 4s;
	animation-delay: 0.4s;
}
div.container
{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}
div.links
{
	flex-direction: column;
}
div.social
{
	margin: 0;
}
div.social > div
{
	margin-left: 0.6em;
	margin-right: 0.6em;
}
img.socialicon
{
	width: 3em;
	opacity: 0.5;
}
img.socialicon:hover
{
	animation-name: sawfade;
    animation-iteration-count: infinite;
    animation-duration: 0.4s;
}