a:link, a:visited { color: #ffffff; text-decoration: none; }
a:hover, a:active { color: #ffffff; text-decoration: none; }

@font-face { font-family: title_font; src: url('assets/header.ttf'); }
@font-face { font-family: body_font; src: url('assets/body.ttf'); }
@font-face { font-family: article_font; src: url('assets/article.otf'); }

html
{
	min-height: 100%;
}

body
{
	overflow-x: hidden;
	overflow-y: auto;
}

hr
{
	border: 1px solid white;
	width: 100%;
	opacity: 0.7;
}

h1
{
	font-family: title_font;
	font-weight: normal;
	color: #FFF;
	line-height: 0.9;
	font-size: 48pt;
	text-align: center;
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.4em;
	margin-left: 0;
	margin-right: 0;
}
h2
{
	font-family: title_font;
	font-weight: normal;
	color: #FFF;
	line-height: 1.1;
	font-size: 30pt;
	text-align: center;
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.4em;
	margin-left: 0;
	margin-right: 0;
}
p
{
	font-family: body_font;
	font-weight: normal;
	color: #FFF;
	line-height: 1.2;
	font-size: 12pt;
	text-align: center;
	padding: 0;
	margin-top: 0.4em;
	margin-bottom: 0.5em;
	margin-left: 0;
	margin-right: 0;
}
.center { text-align: center !important; }

img.float
{
	float: right;
	max-width: 35%;
	margin: 0.5em;
}

img.score
{
	height: 0.75em;
}

div.bkgimg
{
	background-image: url(assets/homebkg.gif);
	z-index: -1;
	position: fixed;
	left: 0; right: 0; top: 0; bottom: 0;
	background-size: 8cm;
	background-repeat: repeat;
}
div.page
{
	position: absolute; left: 0; right: 0; top: 0;
	min-height: 100vh;
	box-sizing: border-box;
	padding-top: 5vw;
	padding-bottom: 5vw;
	padding-left: 10vw;
	padding-right: 10vw;
	
	margin: 0;
	
	display: flex;
	flex-wrap: no-wrap;
	flex-direction: column;
	justify-content: flex-top;
	align-items: center;
}
div.header
{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
div.header > a
{
	color: #ffffff; text-decoration: none;
}
@keyframes sawfadeopacity
{
	from { opacity: 1; animation-timing-function: linear; }
	to { opacity: 0.2; }
}
div.headerbutton
{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	opacity: 0.75;
	margin-left: 0;
	margin-right: 0;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
div.headerbutton > img
{
	width: 4em;
	margin-right: 0.6em;
}
div.headerbutton > h2
{
	font-family: body_font;
	color: #FFF;
	line-height: 0;
	font-size: 15pt;
	text-align: center;
}
div.headerbutton:hover
{
	animation-name: sawfadeopacity;
    animation-iteration-count: infinite;
    animation-duration: 0.4s;
}

div.contentcontainer
{
	border: 0.3em solid rgba(0,180,255,1);
	background-color: rgba(26,92,232,1);
	border-radius: 2em 0;
	width: 100%;
	padding: 2em;
	margin-top: 1.1em;
}
div.contentcontainer > h1
{
	font-family: title_font;
	color: #FFF;
	line-height: 1.1;
	font-size: 30pt;
	padding: 0;
	margin-top: 0;
}
div.contentcontainer > h2
{
	font-family: title_font;
	color: #FFF;
	line-height: 1.1;
	font-size: 20pt;
	text-align: left;
	padding: 0;
}
div.contentcontainer > p
{
	text-align: left;
	font-family: article_font;
	font-size: 13pt;
}
div.contentcontainer > p > a:link { color: #00ffff; text-decoration: none; }
div.contentcontainer > p > a:visited { color: #00ffff; text-decoration: none; }
div.contentcontainer > p > a:hover { color: #00ffff; text-decoration: underline; }
div.contentcontainer > p > a:active { color: #00ffff; text-decoration: none; }

div.buttoncontainer
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div.gallery
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.galleryitem
{
	margin: 0.6em;
	height: 30vh;
	max-width: 100%;
}

div.button
{
	margin: 0.3em;
	padding: 0.6em;
	border-radius: 50em/50em;
	border: 0.2em solid transparent;
	background-color: rgba(0,180,255,1);
}
div.button > p
{
	padding: 0;
	margin: 0;
	color: #ffffff;
	transition: color 0.4s;
}
div.button:hover
{
	animation-name: sawfadeoutline;
    animation-iteration-count: infinite;
    animation-duration: 0.4s;
}

div.projectpage
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


@keyframes sawfadeoutline
{
	from { border-color: rgba(255,255,255,1); animation-timing-function: linear; }
	to { border-color: rgba(0,180,255,1); }
}
div.projectcontainer
{
	width: 90%;
	max-width: 20em;
	border-radius: 1em;
	padding: 0;
	margin: 1em;
	border: 0.3em solid rgba(0,180,255,1);
	background-color: rgba(26,92,232,1);
	transition: background-color 0.5s;
	box-sizing: border-box;
	overflow: hidden;
}
div.projectcontainer:hover
{
	animation-name: sawfadeoutline;
    animation-iteration-count: infinite;
    animation-duration: 0.4s;
	background-color: rgba(0,180,255,1);
}
div.projectcontainer > h1
{
	font-family: title_font;
	color: #FFF;
	line-height: 1.1;
	font-size: 30pt;
	text-align: center;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0.3em;
	margin-right: 0.3em;
}
div.projectcontainer > h2
{
	font-family: body_font;
	color: #FFF;
	line-height: 1.2;
	font-size: 12pt;
	text-align: center;
	padding: 0;
	font-weight: normal;
	margin: 0;
	margin-top: 0.3em;
	margin-bottom: 1em;
	margin-left: 0.3em;
	margin-right: 0.3em;
}
div.projectcontainer > img
{
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	margin-bottom: 1em;
}