a:link, a:visited { color: white; text-decoration: none; }
a:hover, a:active { color: white; text-decoration: none; }

@keyframes fade_in
{
	from { opacity: 0; }
	to { opacity: 0.8; }
}
@keyframes fade_in_half
{
	from { opacity: 0; }
	to { opacity: 0.5; }
}
@keyframes img_in
{
	from { opacity: 1; filter: blur(50px); }
	to { opacity: 1; filter: initial; }
}

@font-face { font-family: title_font; src: url('assets/Adam.otf'); }
@font-face { font-family: body_font; src: url('assets/Lanereg.ttf'); }

html
{
	min-height: 100%;
}

body
{
	overflow-x: hidden;
	overflow-y: auto;
}

hr
{
	border: 1px solid white;
	width: 100%;
	opacity: 0.7;
}

h1
{
	font-family: title_font;
	color: #FFF;
	line-height: 0.9;
	font-size: 48pt;
	text-align: center;
	font-weight: bold;
	padding: 0px;
}
h2
{
	font-family: title_font;
	color: #FFF;
	line-height: 1.1;
	font-size: 30pt;
	text-align: center;
	padding: 0px;
}


div.bkgimg
{
	background-image: url(assets/bkg.jpg);
	z-index: -1;
	position: fixed;
	left: 0; right: 0; top: 0; bottom: 0;
	background-size: cover;
	background-position: center;
	animation-name: img_in;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	image-rendering: pixelated;
}
div.page
{
	opacity: 0;
	position: absolute; left: 0; right: 0; top: 0;
	min-height: 100vh;
	box-sizing: border-box;
	padding-top: 5vw;
	padding-bottom: 5vw;
	padding-left: 10vw;
	padding-right: 10vw;
	animation-name: fade_in;
	animation-delay: 0.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	margin: 0;
	
	display: flex;
	flex-wrap: no-wrap;
	flex-direction: column;
	justify-content: flex-top;
	align-items: center;
}
div.header
{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
div.headerbutton
{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	opacity: 0.7;
	transition: opacity 0.5s;
}
div.headerbutton > img
{
	width: 4em;
	margin-right: 0.6em;
}
div.headerbutton > h2
{
	font-family: body_font;
	color: #FFF;
	line-height: 0;
	font-size: 20pt;
	text-align: center;
	padding: 0px;
}
div.headerbutton:hover
{
	opacity: 1;
}
