div::-webkit-scrollbar
{
    width: 1em;
}
 
div::-webkit-scrollbar-track
{
    background-color: rgba(255,255,255,0.2);
	border-radius: 1em;
}
 
div::-webkit-scrollbar-thumb
{
  background-color: rgba(255,255,255,0.5);
  border-radius: 1em;
  transition: background-color 0.5s;
  border: 2px solid rgba(255,255,255,0.0);  
}


@keyframes fade_in
{
  from { opacity: 0.0; }
  to { opacity: 1.0; }
}

div.topwrapper
{
	background-color: rgba(255,255,255,0.3);
	border-radius: 10vh;
	height: 16vh;
	position: absolute; left: 2vh; right: 2vh; top: 2vh;
	display: flex; align-items: center; justify-content: center; flex-direction: column;
	animation-name: fade_in;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}
div.topwrapper > h3 { margin: 0.5vh; line-height: 1; }
div.topwrapper > h1 { margin: 0.5vh; line-height: 1; }

div.button
{
	position: absolute; top: 2vh; bottom: 2vh;
	width: 12vh;
	border-radius: 50%;
	background-color: transparent;
	transition: background-color 0.5s;
	display: flex; align-items: center; justify-content: center;
}

div.home
{
	right: 2vh;
	border: 3px solid #FFF;
}
div.home > p
{
	font-weight: bold;
	color: #FFF;
	transition: color 0.5s;
}
div.home:hover
{
	background-color: #FFF;
}
div.home:hover > p
{
	color: #00458E;
}

div.back
{
	left: 2vh;
	border: 3px solid #FFF;
}
div.back > p
{
	font-weight: bold;
	color: #FFF;
	transition: color 0.5s;
}
div.back:hover
{
	background-color: #FFF;
}
div.back:hover > p
{
	color: #005151;
}

img.avatar
{
	position: absolute; left: 2vh; top: 2vh;
	height: 12vh;
	border-radius: 50%;
}

div.bodywrapper
{
	opacity: 0;
	position: fixed; top: 20vh; left: 0; right: 0; bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 3vh;
	padding-left: 10vw;
	padding-right: 10vw;
	animation-name: fade_in;
	animation-duration: 1.5s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

div.cbutton
{
	background-color: rgba(255,255,255,0.3);
	border: 3px solid rgba(255,255,255,0);
	transition: background-color 0.5s, border 0.5s;
}
div.cbutton:hover
{
	border: 3px solid #FFF;
	background-color: rgba(255,255,255,0.5);
}

div.projectbutton
{
	position: relative;
	border-radius: 10vh;
	height: 16vh;
	width: 100%;
	margin-bottom: 2vh;
}
div.projectbutton > h3
{
	position: absolute;
	left: 16vh;
	right: 2vh;
	bottom: 50%;
	margin: 0;
	margin-bottom: 2vh;
	line-height: 0 !important;
}
div.projectbutton > p
{
	position: absolute;
	left: 16vh;
	right: 2vh;
	top: 50%;
	margin: 0;
	margin-top: 1vh;
}

div.buttonlink
{
	position: relative;
	width: 100%;
	height: 6vh;
	margin-bottom: 2vh;
	border-radius: 6vh;
	display: flex; align-items: center; justify-content: center;
}
div.buttonlink > p
{
	font-weight: bold;
	color: #FFF;
}
div.mediabutton
{
	border-radius: 2vw;
	padding: 2vw;
	margin: 1vw;
}


body { overflow: hidden; background: linear-gradient(to bottom right,#005151,#00458E); }
a:link, a:visited  { color: #0FF; text-decoration: none; transition: color 0.5s; font-weight: bold; }
a:hover, a:active { color: #0FA; text-decoration: none; transition: color 0.5s; font-weight: bold; }

@font-face { font-family: title_font; src: url('assets/Adam.otf'); }
@font-face { font-family: body_font; src: url('assets/Lanereg.ttf'); }
h1 { font-family: title_font; color: #FFF; font-size: 36pt; text-align: center; font-weight: normal; }
h2 { font-family: title_font; color: #FFF; line-height: 1.1; font-size: 24pt; text-align: center; font-weight: bold; }
h3 { font-family: title_font; color: #FFF; line-height: 1.1; font-size: 20pt; text-align: left; font-weight: normal; }
p { font-family: body_font; color: #FFF; line-height: 1.1; font-size: 16pt; text-align: left; }
p.header { text-align: center !important; }
p.links { text-align: right !important; }

ul { list-style-image: url('assets/bullet.png'); }

img.totop
{
	opacity: 0.5;
	transition: opacity 0.5s;
	width: 48px;
	vertical-align: middle;
}
img:hover.totop { opacity: 1.0; }

table { border: 0; border-collapse: collapse; }
tr { border-bottom: 1px solid #ffffff; }
tr.title { border-bottom: 0; }

hr { border: 1px solid #ffffff; width: 100%; }

iframe { border: 0; }

img:active.zoomable { width: 50%; }
img.zoomable { transition: width 0.5s; float: right; width: 30%; padding: 7px; }
img.icon { padding-left: 0.5em; }
