html
{
	min-height: 100%;
}

body
{
	min-height: 100vh;
	box-sizing: border-box;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: auto;
	
	background-image: linear-gradient(to bottom, #000 70%, #9600FF);
	background-attachment: fixed;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a:link, a:visited
{
	color: #FFF;
	text-decoration: underline;
}
a:hover, a:active
{
	color: #FFF;
	text-decoration: underline;
	animation-duration: 0.5s;
    animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: triblink;
}
@keyframes triblink
{
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}

@font-face { font-family: body_font; src: url("/assets/Nintendo-DS-BIOS.woff"); }
@font-face { font-family: cyber_font; src: url("/assets/FreePixel_16px.ttf"); }

p, ul, pre
{
	text-align: left;
	font-family: body_font;
	font-weight: normal;
	font-size: 16px;
	line-height: 14px;
	color: #fff;
	text-shadow: 0px 0px 6px #e5bdff;
	
	padding: 0;
	margin-top: 8px;
	margin-bottom: 8px;
}
ul { margin-left: 12px; }
p.header
{
	color: #e5bdff;
	text-align: center;
}

#howtojoin
{
	max-width: 650px;
	background-color: rgba(150, 0, 255, 0.4);
	padding: 12px;
	border: 1px solid rgb(150, 0, 255);
}
#howtojoin pre
{
	font-family: cyber_font;
	text-align: left;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 4px;
	padding: 2px;
}

* { transform-style: preserve-3d; }
#directory
{
	perspective: 900px;
	width: 400px;
	height: 320px;
	position: relative;
}
#directory > p
{
	position: absolute;
	bottom: 0;
	left: 25%;
	right: 25%;
	margin: 0;
	background-color: rgba(150, 0, 255, 0.4);
	border-radius: 4px;
	padding: 2px;
}
#members
{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	pointer-events: none;
	transition: transform 0.4s ease-out;
}
#members > div
{
	position: absolute; 
	left: 50%; top: 50%;
	width: 130px;
	background-color: rgba(30, 0, 60, 0.8);
	padding: 3px;
	border: 1px solid rgb(150, 0, 255);
}
#members p { text-align: center; margin: 5px; }