a:link, a:visited { color: white; text-decoration: none; }
a:hover, a:active { color: white; text-decoration: underline; }

@font-face { font-family: title_font; src: url('assets/bitwise.ttf'); }
@font-face { font-family: body_font; src: url('assets/Adam.otf'); }

@keyframes title_in
{
	from { letter-spacing: 50px; opacity: 0; }
	to { letter-spacing: initial; opacity: 1; }
}
@keyframes hr_in
{
	from { width: 1%; opacity: 0; }
	to { width: 95%; opacity: 1; }
}
@keyframes fade_in
{
	from { opacity: 0; }
	to { opacity: 1; }
}


body { overflow: hidden; background-color: #000000; }

h1 
{
	font-family: title_font; color: #FF55FF; line-height: 0.4; font-size: 36pt; text-align: center; transition: letter-spacing 1s; text-decoration: none; opacity: 0;
	position: absolute; left: 0; right: 0; bottom: 51%;
	animation-name: title_in; animation-duration: 2s; animation-delay: 0s; animation-fill-mode: forwards;
}
h2
{
	font-family: body_font; color: #FF55FF; line-height: 1; font-size: 20pt; text-align: center; transition: letter-spacing 1s; text-decoration: none; opacity: 0;
	position: absolute; left: 0; right: 0; top: 51%;
	animation-name: title_in; animation-duration: 2s; animation-delay: 1s; animation-fill-mode: forwards;
}
p 
{
	font-family: body_font; color: #FF55FF; line-height: 0; font-size: 16pt; text-align: center;
	padding: 0;
	line-height: 1;
}
hr
{
	border: 1px solid #FF55FF; width: 95%;
	position: absolute; left: 0; right: 0; bottom: 50%;
	animation-name: hr_in; animation-duration: 3s; animation-delay: 0s; animation-fill-mode: forwards;
}
img.icon
{
	image-rendering: pixelated;
	width: 10vh;
	text-align: center;
	display: block;
    margin: 0 auto;
	padding-top: 5px;
}

div.wrapper
{
	position: absolute; left: 0; right: 0; top: 70%; height: *;
	opacity: 0;
	display: flex; justify-content: space-between; align-items: top;
	animation-name: fade_in; animation-duration: 2s; animation-delay: 1s; animation-fill-mode: forwards;
}

div.buttonwrapper
{
	flex-grow: 1;
}

div.button
{
	border: 5px solid #000000 !important;
	width: 12vh;
	height: *;
	margin: 0 auto;
	transition: border 0.5s, border-radius 0.5s;
}
div.button:hover
{
	border: 5px solid #FF55FF !important;
	border-radius: 10%;
}