*
{
	box-sizing: border-box;
	font-family: sans-serif;
	color: #fff;
	font-size: 9pt;
	text-shadow: 0 0 3px #000;
	text-align: center;
}

body
{
	background-image: linear-gradient(to bottom, #201F25, #33516B 35%, #4376A3 50%, #558EBB 75%, #314359);
	background-size: cover;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
}

#bkgimg
{
	position: fixed;
	z-index: -1;
	top: 0; bottom: 0; left: 0; right: 0;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	transition: opacity 1s ease-in-out 0.3s;
	opacity: 0;
}

#content
{
	max-width: 500px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}

div.hide { display: none !important; }

#header, #alerts, #forecast, #footer
{
	width: 100%;
	padding: 8px;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.05) 20px);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	backdrop-filter: blur(8px);
	animation: fadein 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes fadein {
  0%    {opacity: 0; transform: scale(0.3); }
  100%  {opacity: 1; transform: none; }
}

#header, #footer
{
	background-color: rgba(0, 0, 20, 0.4);
}

#loading
{
	margin: 0 auto;
	display: block;
}

#alerts
{
	background-color: rgba(200, 0, 0, 0.4);
}



#forecast
{
	flex-grow: 1;
	overflow: auto;
	background-color: rgba(0, 85, 170, 0.6);
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: auto auto repeat(4, 1fr);
	grid-auto-flow: column;
	gap: 5px;
	max-height: 800px;
}

#forecast > div
{
	background: rgba(255, 255, 255, 0.1);
	border-radius: 3px;
}

div.dailyforecast
{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-auto-flow: column;
	gap: 8px;
	padding: 8px;
}
div.dailyforecast > img
{
	box-shadow: 0 0 7px #fff;
	margin-left: 10px;
	margin-right: 10px;
}

div.hourlyforecast
{
	position: relative;
	display: grid;
	grid-template-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	align-items: end;
	min-height: 4em;
	overflow: hidden;
}

div.hourlyforecast img
{
	z-index: -1;
	position: absolute;
	left: 8px; bottom: 8px;
	height: 80%;
	max-height: 64px;
	opacity: 0.35;
}

div.bar
{
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.05));
	font-size: 7pt;
	min-height: 1.2em;
}
div.bar.night
{
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(255,255,255,0.05));
}

#header, #footer
{
	text-align: center;
	text-shadow: 0 0 6px #000;
}
span
{
	text-align: center;
}
span img, #alerts img, p img, div.legend img
{
	height: 1.5em;
	vertical-align: middle;
}

h2, p, summary, details
{
	margin: 0;
}
h2
{
	font-size: 12pt;
}
details
{
	background: rgba(255, 255, 255, 0.2);
	border-radius: 3px;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
}
details
{
	display: inline-block;
	margin: 2px;
}
summary
{
	cursor: pointer;
}

#alerts details { text-align: left; }