/* ================================================================================================ */
/* main page styling
/* ================================================================================================ */


html, body
{
	max-width: 100%;
	overflow-x: hidden; overflow-y: auto;
	padding: 0; margin: 0;
}

body
{
	background-color: #F2F1E9;
	padding: 8px;
}

*
{
	font-family: sans-serif;
	font-size: 9pt;
	color: #464646;
}

#main
{
	height: 100%;
	background-color: #FFF;
	max-width: 750px;
	margin: 0 auto;
	padding: 8px;
}


/* ================================================================================================ */
/* header contains controls, entries, and ikea logo
/* ================================================================================================ */


#header
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 5px;
}

#header div
{
	font-size: 8pt;
	font-weight: bold;
	color: #888;
}
#header div:nth-child(3) { text-align: right; color: #FFCC33; }

input[type='text'] { max-width: 10em; }
input[type='number'] { width: 2.5em; }
select { max-width: 11em; }


/* ================================================================================================ */
/* main table for displaying item list and results
/* ================================================================================================ */


table
{
	margin-top: 8px;
	width: 100%;
	background-color: #FAF9F4;
	text-align: left;
	box-shadow: 1px 1px 2px #bbb;
}

table, th, td
{
	border: 1px solid #EBE8DB;
	border-collapse: collapse;
}

th
{
	color: #FF6600;
	font-size: 10pt;
	font-weight: bold;
	padding: 5px;
}
th:nth-child(1) { width: 0; }

th, td
{
	padding-left: 5px;
	padding-right: 5px;
}

td img
{
	width: 16px;
	height: 16px;
}

span.division
{
	font-size: 7pt;
	color: #888;
}

tr.understock { background-color: #ffb; }
tr.outofstock { background-color: #fcc; }


/* ================================================================================================ */
/* buttons for adding and removing items
/* ================================================================================================ */


button
{
	background: linear-gradient(to bottom, #448CD3, #0167CB);
	border-radius: 2px;
	padding-left: 8px; padding-right: 8px;
	padding-top: 3px; padding-bottom: 3px;
	border: none;
	box-shadow: 0px 1px 1px #aaa;
	color: white;
	text-align: center;
	font-weight: bold;
}
td button
{
	background: linear-gradient(to bottom, #F7D84D, #FFC809);
	color: #000;
}